@import "normalize/import-now";
@import "opensans";
@import "variables";

html {
  background: linear-gradient(darken($base-background-color, 20), lighten($base-background-color, 20)), $base-background-color;
  height: 100%;
}

body {
  font-family: $base-font;
  color: $base-text-color;
}

table {
  border-collapse: collapse;

  th, td {
    border: 1px solid $base-text-color;
    padding: 3px;
  }

  tr:hover {
    td {
      background-color: darken($base-background-color, 30);
    }
  }
}

ul {
  list-style-type: none;

  li {
    position: relative;
  }
}

img {
  max-width: 100%;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;

  @media (min-width: 768px) {
    max-width: 760px;
  }

  @media (min-width: 1024px) {
    max-width: 960px;
  }

  @media (min-width: 1300px) {
    max-width: 1200px;
  }
}

.menu {
  list-style-type: none;
  padding: 0;

  li {
    padding-right: 10px;

    a {
      &.active {
        text-decoration: none;
        color: $base-text-color;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media (min-width: 768px) {
      display: inline-block;
    }
  }
}
